body {
    margin: 0;

    font-family: 
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        "BIZ UDPGothic",
        Meiryo,
        sans-serif;

    /* テキストのコピーを禁止 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}