@charset "UTF-8";
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

/* ボタン */
.BasicButtonContainer {
  /* 表示場所 */
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 12px;
  margin-right: 50px;
  z-index: 2;
  /* 前面に表示 */
  display: flex;
  flex-flow: column;
}

.BasicButton {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  /* ボタンっぽく */
  cursor: pointer;
  border: 2px solid rgba(35, 55, 75, 0.9);
  border-radius: 4px;
  background-color: rgba(35, 55, 75, 0.9);
  color: white;
  transition: background 0.3s;
  padding-bottom: 4px;
  /* カーソルを当てた時 */
}
.BasicButton span {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  line-height: 16px;
}
.BasicButton svg {
  margin-top: auto;
}
.BasicButton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(35, 55, 75, 0.9);
}

/** モーダルウィンドウ用の設定 **/
/* 下の画面を操作できないようにするオーバーレイレイヤ */
.overlay {
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay div {
  z-index: 3;
  border-radius: 4px;
  background-color: rgba(35, 55, 75, 0.9);
  color: white;
  position: relative;
  width: 50%;
  padding: 1em;
}
.overlay div svg {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.2s;
}
.overlay div svg:hover {
  color: rgb(255, 140, 0);
}